html{
    height: 100%;
}

body{
    height: 100vh;
    width: 100vw;
    margin: 0;
}

header{
    height: 40%;
    background-color: rgb(54, 190, 190);
}

.container{
     height: 100%;
     width: 100%;
    background-image: url(fundo.jpg);
    background-repeat: no-repeat;
    background-size:  cover; 
    
}


    .cabecalho{
        /* background-color: blue; */
        height: 20%;
        display: flex;
        
    }

.container{
    /* background-color: blueviolet; */
    height: 100%;
}
   
    .meio{
        /* background-color: brown; */
        height: 70%;
        display: flex;
    }

    .rodape{
        /* background-color: aquamarine; */
    }
 
    .direito{
        width: 50%;
        /* background-color: darkgoldenrod; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
       
        
    }
    .esquerda{
    width: 50%;
        /* background-color: darkgreen; */
    }

    .logo{
        width: 70%;
        /* background-color: darkred; */
    }

.botao{
    width: 100%;
    /* background-color: darkmagenta; */
    display: flex;
    justify-content:end
    
   
}
    
.paragrafe{
    font-size: 28px;
}

.titulo{
    font-size: 70px;
}

.log{
    height: 70px;
}
label{
    margin: 28px;
}
button{
   
    height: 28px;
    width: 98px;
    margin: 28px;
    font-size: 14px;
   

}